.u-section-1 .u-sheet-1 {
  min-height: 1259px;
}

.u-section-1 .u-image-1 {
  width: 495px;
  height: 158px;
  margin: 0 213px 0 auto;
}

.u-section-1 .u-group-1 {
  height: auto;
  min-height: 1060px;
  margin-top: -17px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: 31px auto 0 0;
  color: #828283;
}

.u-section-1 .u-layout-wrap-1 {
  width: 606px;
  margin: 17px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 232px;
}

.u-section-1 .u-container-layout-2 {
  padding: 6px;
}

.u-section-1 .u-group-2 {
  height: 146px;
  width: 146px;
  margin: 32px auto 0 10px;
  border-radius: 22px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 17px;
}

.u-section-1 .u-shape-1 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: -31px auto 0 14px;
}

.u-section-1 .u-group-elements-1 {
  min-height: 75px;
  height: auto;
  width: 112px;
  margin: 15px 4px 0 12px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 1px auto 0 23px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 232px;
}

.u-section-1 .u-container-layout-4 {
  padding: 6px 0;
}

.u-section-1 .u-group-3 {
  width: 146px;
  height: 146px;
  margin: 29px auto 0;
  border-radius: 22px;
}

.u-section-1 .u-container-layout-5 {
  padding: 22px 0;
}

.u-section-1 .u-group-elements-2 {
  width: 146px;
  min-height: 71px;
  margin: 37px -7px 0 auto;
}

.u-section-1 .u-group-elements-3 {
  min-height: 71px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 146px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 1px 66px 0 30px;
}

.u-section-1 .u-text-6 {
  margin: -36px auto 0 57px;
}

.u-section-1 .u-shape-2 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: -175px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 232px;
}

.u-section-1 .u-container-layout-6 {
  padding: 4px 0;
}

.u-section-1 .u-group-4 {
  height: 146px;
  width: 146px;
  margin: 29px auto 0 31px;
  border-radius: 30px;
}

.u-section-1 .u-container-layout-7 {
  padding: 13px 17px;
  border-radius: 27px;
}

.u-section-1 .u-group-elements-4 {
  min-height: 75px;
  height: auto;
  width: 112px;
  margin: 45px 4px 0 16px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.2rem;
  margin: 4px auto 0px -11px;
}

.u-section-1 .u-shape-3 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: -173px auto 0 67px;
}

.u-section-1 .u-group-5 {
  min-height: 368px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  width: 1024px;
  margin: 31px 39px 0 17px;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 0;
}

.u-section-1 .u-group-6 {
  min-height: 113px;
  height: auto;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-elements-5 {
  width: 214px;
  min-height: 32px;
  height: auto;
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-12 {
  margin: -29px -10px 0 auto;
  background: #E14561;
  border-radius: 16px;
  width: 52px;
  text-align: center;
  color: white;
}

.u-section-1 .u-table-1 {
  width: 924px;
  margin: 10px auto 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
}

.u-section-1 .u-group-7 {
  width: 1024px;
  min-height: 234px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 36px auto 0 19px;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 0;
}

.u-section-1 .u-group-8 {
  min-height: 62px;
  height: auto;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 15px 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-13 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto -5px 0;
}

.u-section-1 .u-group-9 {
  min-height: 122px;
  height: auto;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-form-1 {
  height: 68px;
  margin: 18px 27px 0 851px;
  background: #444FB6;
  border-radius: 30px;
  color: white;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-size: 2.25rem;
  margin: -1680px auto 60px 15px;
  position: relative;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1228px;
  }

  .u-section-1 .u-group-1 {
    transition-duration: 0.75s;
    min-height: 1030px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 21px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 586px;
    margin-left: 21px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 194px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 92px;
    width: 100px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 194px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-elements-3 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 194px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-elements-4 {
    min-height: 89px;
    width: 100px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -180px;
  }

  .u-section-1 .u-group-5 {
    transition-duration: 0.5s;
    width: 880px;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-table-1 {
    width: 834px;
  }

  .u-section-1 .u-group-7 {
    transition-duration: 0.5s;
    width: 880px;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-top: 38px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-group-8 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-9 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 32px;
    margin-right: 0;
    margin-left: 679px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -1106px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1272px;
  }
  .title{
    top: 120px;
  }

  .u-section-1 .u-image-1 {
    width: 820px;
    height: 96px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 68px;
    min-height: 1072px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 561px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 205px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 205px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-table-1 {
    width: 616px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 24px;
    margin-left: 459px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -1117px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1225px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 63px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 36px;
    min-height: 1096px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 31px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 520px;
    margin-right: -11px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: -165px;
    margin-left: 179px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -48px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -180px;
    margin-left: 217px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 106px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 24px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -266px;
    margin-right: 32px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-elements-4 {
    min-height: 57px;
    margin-top: 47px;
    margin-right: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -1px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    width: auto;
    margin-top: 5px;
    margin-left: 37px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -196px;
    margin-right: 81px;
    margin-left: auto;
  }

  .u-section-1 .u-group-5 {
    min-height: 366px;
    margin-top: -164px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-1 .u-table-1 {
    width: 500px;
  }

  .u-section-1 .u-group-7 {
    min-height: 242px;
    margin-top: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-9 {
    min-height: 134px;
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-form-1 {
    height: 86px;
    margin-top: 36px;
    margin-right: 6px;
    margin-left: 331px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -1125px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-1 .u-image-1 {
    width: 462px;
    height: 42px;
    left: -61px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 62px;
    min-height: 1242px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 189px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -155px;
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -190px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -53px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -163px;
    margin-right: auto;
    margin-left: 127px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -7px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-5 {
    width: 183px;
    min-height: 29px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -22px;
  }

  .u-section-1 .u-table-1 {
    width: 320px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-form-1 {
    margin: 19px 75px -11px 62px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.25rem;
    margin-top: -1275px;
  }
}
.animated-progress {
  width: 300px;
  height: 30px;
  border-radius: 21px;;
  margin: 10px 15px;
  /* border: 1px solid rgb(189, 113, 113); */
  overflow: hidden;
  position: relative;
}

.animated-progress span {
  height: 100%;
  display: block;
  width: 0;
  color: rgb(255, 251, 251);
  line-height: 30px;
  position: absolute;
  text-align: end;
  padding-right: 5px;
}

.progress-blue span {
  background-color: #D2E754;
}

.progress-green span {
  background-color: #88CDEB;
}

.progress-purple span {
  background-color: #E14561;
}


label {
  position: relative;
  top: 11px;
  padding-left: 29px;
}

.test {
  display: flex;
  flex-direction: row;
}
section.footers {
  position: relative;
  margin-top: 146px;
  z-index: auto;
}