.u-section-1 .u-sheet-1 {
  min-height: 943px;
}

.u-section-1 .u-image-1 {
  width: 495px;
  height: 200px;
  margin: 0 237px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -120px auto 0 55px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: none;
  margin: -13px 73px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 1000px;
  min-height: 560px;
  height: auto;
  margin: 48px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-2 {
  width: 93px;
  height: 93px;
  margin: 152px auto 0 407px;
}

.u-section-1 .u-text-2 {
  margin: 33px auto 0 383px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 48px auto 0 336px;
  padding: 10px 49px 10px 48px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 359px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 276px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -43px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 137px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 47px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 58px;
    margin-left: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-1 .u-image-1 {
    height: 155px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 59px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -29px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 56px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 52px;
    margin-left: auto;
  }
}