.u-section-1 .u-sheet-1 {
    min-height: 570px;
  }
  
  .u-section-1 .u-image-1 {
    width: 495px;
    height: 158px;
    margin: 0 213px 0 auto;
  }
  
  .u-section-1 .u-group-1 {
    height: auto;
    background-image: none;
    min-height: 394px;
    margin-top: -25px;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0 30px;
  }
  
  .u-section-1 .u-image-2 {
    width: 83px;
    height: 83px;
    margin: 70px auto 0;
  }
  
  .u-section-1 .u-text-1 {
    width: 152px;
    margin: 15px auto 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: normal;
    margin: 15px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin: -444px auto 0 0;
  }
  
  .u-section-1 .u-btn-2 {
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    text-transform: none;
    margin: -39px 47px 0 auto;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
      height: auto;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: -40px;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-image-1 {
      height: 94px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 354px;
      margin-top: 78px;
    }
  
    .u-section-1 .u-image-2 {
      width: 67px;
      height: 67px;
      margin-top: 39px;
      margin-right: 303px;
      margin-left: 287px;
    }
  
    .u-section-1 .u-btn-1 {
      font-weight: 700;
      font-size: 0.875rem;
      letter-spacing: 1px;
    }
  
    .u-section-1 .u-text-2 {
      width: auto;
      margin-top: -408px;
      margin-right: 0;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: -43px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-image-2 {
      margin-left: 219px;
      margin-right: 235px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 521px;
    }
  
    .u-section-1 .u-image-1 {
      height: 112px;
      width: 440px;
      margin-left: -50px;
      margin-right: -50px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 357px;
      margin-top: 54px;
    }
  
    .u-section-1 .u-image-2 {
      width: 59px;
      height: 59px;
      margin-top: 61px;
      margin-right: 135px;
      margin-left: 117px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 14px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-top: 25px;
      padding: 10px 19px 10px 18px;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 1.25rem;
      margin-top: -389px;
      margin-right: 92px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: -24px;
      padding: 2px 23px 2px 22px;
    }
  }