.u-section-1 .u-sheet-1 {
  min-height: 747px;
}

.u-section-1 .u-image-1 {
  width: 495px;
  height: 137px;
  margin: -51px 213px 0 auto;
}

.u-section-1 .u-group-1 {
  height: auto;
  min-height: 577px;
  margin-top: -122px;
  margin-bottom: 18px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: 36px auto 0 45px;
}

.u-section-1 .u-group-2 {
  width: 993px;
  min-height: 163px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 30px auto 0;
  border: 2px solid #F6F6F6;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 23px;
  padding-right: 23px;
}

.u-section-1 .u-group-3 {
  min-height: 62px;
  height: auto;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 15px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto -5px 0;
}

.u-section-1 .u-group-4 {
  min-height: 81px;
  height: auto;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-form-1 {
  height: 66px;
  margin: 0 0 0 13px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: 993px;
  min-height: 205px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 22px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 23px;
  padding-right: 23px;
}

.u-section-1 .u-group-6 {
  min-height: 62px;
  height: auto;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 15px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto -5px 0;
}

.u-section-1 .u-group-7 {
  min-height: 122px;
  height: auto;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-form-2 {
  height: 182px;
  --radio-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23ffffff'/%3e%3c/svg%3e");
  margin: 0 643px -59px 33px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px 45px 0 auto;
  padding: 7px 54px 8px 52px;
  width: fit-content;

}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
  margin-left: 6px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -39px 278px 0 auto;
  padding: 7px 39px 8px 37px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
  vertical-align: 0px;
  margin-left: 6px;
}

.u-section-1 .u-list-1 {
  width: 170px;
  left: 75%;
  top: -91px;
  z-index: 1;
}

.u-section-1 .u-repeater-1 {
  min-height: 59px;
  grid-auto-columns: calc(33.3333% - 3.33333px);
  grid-template-columns: calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px);
  grid-gap: 5px 5px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 -3px 0 auto;
  padding: 7px 14px 9px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 59px 0px -1px 1px;

}

.u-section-1 .u-container-layout-10 {
  padding: 10px;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 -3px 0 auto;
  padding: 7px 15px 9px 13px;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  /* margin: -106px auto 60px 13px; */
  top: 78px;

}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    transition-duration: 0.75s;
    min-height: 578px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    transition-duration: 0.5s;
    width: 880px;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-top: 33px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-form-1 {
    width: 834px;
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    transition-duration: 0.5s;
    width: 880px;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-7 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-form-2 {
    margin-right: 563px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 225px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -619px;
    margin-right: 78px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -99px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: 85px;
    position: relative;
    top: -576px;
  }

  .u-section-1 .u-group-1 {
    min-height: 579px;
    margin-top: -91px;
  }
  .u-stick-footer .u-footer {
    margin-top: 146px;
}

  .u-section-1 .u-text-1 {
    margin-top: 31px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 660px;
    margin-top: 34px;
  }

  .u-section-1 .u-form-1 {
    width: 614px;
  }

  .u-section-1 .u-group-5 {
    width: 660px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 343px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 26px;
    padding-right: 33px;
    padding-left: 31px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -38px;
    margin-right: 182px;
    padding-right: 18px;
    padding-left: 17px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -610px;
    margin-right: 62px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -33px;
    margin-right: 581px;
    margin-bottom: 628px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-image-1 {
    height: 69px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 607px;
    margin-top: 68px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    min-height: 170px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-4 {
    min-height: 84px;
    margin-top: -1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-form-1 {
    height: 84px;
    margin-top: -16px;
    margin-right: -4px;
    width: 500px;
  }

  .u-section-1 .u-group-5 {
    width: 520px;
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-7 {
    min-height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-form-2 {
    margin-right: 229px;
    margin-bottom: -48px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 24px;
    margin-right: 62px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: auto;
    margin-left: 61px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -666px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -27px;
    margin-right: 322px;
    margin-bottom: 623px;
    top: 130px;

  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 747px;
    margin-top: 23px;
  }
  .u-stick-footer .u-footer {
    margin-top: -16px;
}
.nav-container {
  margin: -50px 30px -30px auto;
}
.dropdown-menu-item {
z-index: 1;
position: relative;
}

  .u-section-1 .u-image-1 {
    height: 37px;
    margin-top: 4px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 628px;
    margin-top: -62px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 12px 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    width: 320px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 43px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 30px;
    padding: 4px 18px 5px 17px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -33px;
    margin-left: 19px;
    padding: 4px 3px 4px 2px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -549px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 102px;
    grid-auto-columns: 33.3333%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 5px 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
    padding: 2px 9px 3px 8px;
  }

  .u-section-1 .u-container-layout-9 {
    padding: 5px 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
    padding: 2px 9px 3px 8px;
    top: 50px;
  }

  .u-section-1 .u-container-layout-10 {
    padding: 5px 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
    padding: 2px 9px 3px 8px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
    margin-top: -93px;
    margin-right: 122px;
  }
}
.Previous {
    top: 74px;
}