<!-- Card template 1 -->
<div id="{{form.form_id}}"
  class="u-border-2 u-border-white u-container-style u-group u-radius-30 u-shape-round u-white u-group-2" ,
  style="display: inline-block;">
  <div class="u-container-layout u-valign-bottom u-container-layout-2">
    <div class="u-align-center u-clearfix u-group-elements u-group-elements-1">
      <div class="custom-expanded u-custom-color-4 u-preserve-proportions u-shape u-shape-rectangle u-shape-1">
      </div>
      <p class="u-text u-text-1">
        {% if form.form_title|length > 14 %}
            <a href="{{ url_for('views.respo',form_id=form.form_id) }}">{{ form.form_title[:12] }}..</a>
        {% else %}
            <a href="{{ url_for('views.respo',form_id=form.form_id) }}">{{ form.form_title }}</a>
        {% endif %}
      </p>
      <p class="u-text u-text-grey-15 u-text-2">{{ form.respo_num }}</p>
    </div><span class="u-file-icon u-flip-horizontal u-icon u-text-grey-15 u-icon-1"><img
        src="static/images/my-forms2/2958783-d06c4830.png" alt=""></span>
    <div
      class="u-bottom-left-radius-30 u-bottom-right-radius-30 u-container-style u-custom-color-4 u-expanded-width u-group u-shape-round u-group-3">
      <div class="u-container-layout u-container-layout-3">

        <!-- Delete button with associated route -->
        <a class="u-file-icon u-icon u-text-white u-icon-2" data-form-id="{{form.form_id}}" onclick="confirmDelete(this.dataset.formId, '{{ url_for('views.delete', form_id=form.form_id) }}')">
          <img src="static/images/my-forms2/484662-e370b565.png" alt="">
        </a>
        
        <!-- Share button with associated route -->
        <a class="u-file-icon u-icon u-text-white u-icon-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  data-form-id="{{form.form_id}}" data-share-link="{{ form.Share_link }}" data-form-title="{{ form.form_title }}" data-respo-num="{{ form.respo_num }}">
          <img src="static/images/my-forms2/1358023-ee1f9ba8.png" alt="">
      </a>

        <!-- view button with associated route -->
        <a href="{{ url_for('views.view',form_id=form.form_id) }}" class="u-file-icon u-icon u-text-white u-icon-4" data-href="#">
          <img src="static/images/my-forms2/709612-2405019f.png" alt="">
        </a>

        <!-- edit button with associated route -->
        <a href="/edit/{{form.form_id}}" class="u-image u-image-contain u-image-default u-preserve-proportions u-image-2" data-href="#">
          <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-2"
            src="static/images/my-forms2/Union.svg" alt="" data-image-width="13" data-image-height="13" data-href="#">
        </a>
      </div>
    </div>
  </div>
</div>

