<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="keywords" content="My Forms​">
  <meta name="description" content="">
  <link rel="icon" type="image/x-icon" href="static/images/Logo1.svg">

  <title>dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/library-css/dashboard.css') }}" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" media="screen">
  <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"
    defer=""></script>
  <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/page.js') }}"
    defer=""></script>
      <link rel="icon" type="image/x-icon" href="static/images/Logo1.svg">


  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Element", "Density", { role: "style" }],
        ["0-4 years old", 8.94, "color: #D2E754"],
        ["0-4 years old", 10.49, "color: #88CDEB"],
        ["0-4 years old", 19.30, "color: #E14561"],
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
        {
          calc: "stringify",
          sourceColumn: 1,
          type: "string",
          role: "annotation"
        },
        2]);

      var options = {
        width: 600,
        height: 200,
        bar: { groupWidth: "95%" },
        legend: { position: "none" },
        series: { 0: { borderRadius: 20 } },
        hAxis: { textPosition: 'none' },
        vAxis: { gridlines: { color: 'bl' } },
        vAxes: {
          1: { textPosition: 'none' } // Set secondary axis to none (invisible)
        }
      };

      var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
      chart.draw(view, options);
    }
  </script>
  <style>
    /* Footer Styles */
    .footer2 {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px 0;
      position: relative;
    }
    .footer-ba{
      background-color: #F6F6F6;
    }
  </style>

  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Copy of My Forms 2">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body class="u-body  u-xl-mode" data-lang="en">
  <div style="background-color: #f8f8f8;">
    <header class="u-clearfix u-header u-white u-header" id="sec-3136">
      <div class="u-clearfix u-sheet u-sheet-1"><span
          class="u-border-1 u-border-grey-5 u-file-icon u-grey-5 u-icon u-icon-circle u-icon-1"><img 
            src="{{ url_for('static', filename='images/view/3106773-55a68393.png') }}" alt=""></span>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="SM">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
              href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a
                  class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{{ url_for('views.welcome') }}"
                  style="padding: 10px 24px;">Home</a>
              </li>
              <li class="u-nav-item"><a
                  class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{{ url_for('views.my_forms') }}"
                  style="padding: 10px 23px 10px 24px;">My Forms</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link"  href="{{ url_for('views.welcome') }}">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{{ url_for('views.my_forms') }}">My Forms</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1" src="{{ url_for('static', filename='images/view/Logo1.svg') }}"
          alt="" data-image-width="86" data-image-height="34">
        <div class="nav-container">
          <ul class="nav-items">
            <!-- Navigation -->
            <!-- Dropdown menu -->
            <li class="nav-item nav-item-dropdown ">
              <a class="dropdown-trigger u-text-black" href="#"
              style="text-decoration: none; "
              >{{ user_name }}
                <p class="icon2"> &#11206;</p>
              </a>
              <ul class="dropdown-menu rounded-4 ">
                <li class="dropdown-menu-item u-text-black">
                  <a href="{{ url_for('auth.my_profile') }}" class="u-text-black" style="text-decoration: none;">My Profile</a>
                  <hr class="">
                </li>
                <li class="dropdown-menu-item">
                  <a href="{{ url_for('auth.logout') }}" class="u-text-black" style="text-decoration: none;">Log out</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </div>
  <section class="u-clearfix u-custom-color-6 u-section-1" id="sec-e8f7">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img class="custom-expanded u-image u-image-default u-image-1"
        src="{{ url_for('static', filename='images/dashboard/OBJECTS2.svg') }}" alt="" data-image-width="495"
        data-image-height="200">
        <div class="title">
          <h2 >{{form_title}}</h2>
        </div>
      <div class="u-container-style u-expanded-width u-grey-10 u-group u-radius-50 u-shape-round u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <p class="u-text u-text-default u-text-1">{{form_description}}</p>
          <div class="custom-expanded data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-19 u-layout-cell-1">
                  <div class="u-container-layout u-container-layout-2">
                    <div
                      class="custom-expanded u-container-style u-custom-color-1 u-group u-preserve-proportions u-shape-rectangle u-group-2">
                      <div class="u-container-layout u-container-layout-3">
                        <div
                          class="custom-expanded u-custom-color-4 u-preserve-proportions u-shape u-shape-round u-top-right-radius-50 u-shape-1">
                        </div>
                        <div class="custom-expanded u-clearfix u-expanded-width-xl u-group-elements u-group-elements-1">
                          <p class="u-text u-text-2"> Respondents</p>
                          <p class="u-text u-text-default u-text-3">{{ total_responds }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-19 u-layout-cell-2">
                  <div class="u-container-layout u-container-layout-4">
                    <div
                      class="u-container-style u-custom-color-7 u-group u-preserve-proportions u-shape-rectangle u-group-3">
                      <div class="u-container-layout u-container-layout-5">
                        <div class="u-clearfix u-group-elements u-group-elements-2">
                          <div class="u-clearfix u-expanded-width u-group-elements u-group-elements-3">
                            <p class="u-text u-text-custom-color-8 u-text-4">Avg .Respond Time</p>
                            <p class="u-text u-text-5">{{ average_time_minutes }}</p>
                          </div>
                          <p class="u-text u-text-default u-text-6">min</p>
                        </div>
                      </div>
                    </div>
                    <div class="custom-expanded u-preserve-proportions u-shape u-shape-rectangle u-white u-shape-2">
                    </div>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-22 u-layout-cell-3">
                  <div class="u-container-layout u-container-layout-6">
                    <div
                      class="custom-expanded u-container-style u-custom-color-1 u-group u-preserve-proportions u-shape-rectangle u-group-4">
                      <div class="u-container-layout u-container-layout-7" style="background-color:#D2E754;">
                        <div class="custom-expanded u-clearfix u-expanded-width-xl u-group-elements u-group-elements-4">
                          <p class="u-text u-text-7"> Device Type</p>
                          <p class="u-text u-text-default u-text-8">{{most_frequent_device}}</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="custom-expanded u-bottom-left-radius-50 u-custom-color-4 u-preserve-proportions u-shape u-shape-round u-top-left-radius-50 u-top-right-radius-50 u-shape-3" style="background-color: #444FB6;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="u-container-layout u-container-layout-10">
            {% for question, info in combined_dict.items() %}
            <div class="u-container-style u-custom-color-2 u-expanded-width u-group u-shape-rectangle u-group-8">
              <div class="u-container-layout u-container-layout-11 u-radius-40" style="background-color: #F8F8F8;
             ">
                <p class="u-text u-text-default u-text-palette-4-base u-text-13">Question {{ loop.index }}</p>
                <p class="u-text u-text-custom-color-1 u-text-default u-text-14">{{ question }}</p>
                {% if info['type'] == "multi_option" %}
                <!-- Generate HTML for multiple-choice questions here -->
                {% set frequency_dict = {} %}
                {% set answers_length = info['answers'] | length %}
                {% for answer in info['answers'] %}
                {% set frequency_dict = frequency_dict.update({answer: (frequency_dict.get(answer, 0) + 1)}) or
                frequency_dict %}
                {% endfor %}
                {% for value, frequency in frequency_dict.items() %}
                {% set percentage = (frequency / answers_length) * 100 %}
                {% set rounded_percentage = percentage | round(2) %}
                <div class="test">
                  <label>{{value}}</label>
                  <div class="animated-progress progress-blue">
                    <span data-progress="{{rounded_percentage}}"></span>
                  </div>
                </div>
                {% endfor %}
                {% elif info['type'] == "simple_text" %}
                <div class="custom-expanded u-table u-table-responsive u-table-1">
                  <table class="u-table-entity">
                    <colgroup>
                      <col width="25%">
                      <col width="25%">
                    </colgroup>
                    <thead class="u-grey-5 u-table-header u-text-custom-color-4 u-table-header-1">
                      <tr style="height: 46px;">
                        <th class="u-border-1 u-border-custom-color-4 u-table-cell">User Respond</th>
                      </tr>
                    </thead>
                    <tbody class="u-table-body">
                      {% for answer in info['answers'] %}
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-custom-color-4 u-table-cell">{{answer}}</td>
                      </tr>
                      {% endfor %}
                      <tr style="height: 39px;"></tr>
                    </tbody>
                  </table>
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="u-form u-form-1">
            <div class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" style="padding: 10px;">
              <div class="u-form-group u-form-select u-label-none u-form-group-1">
                <label for="select-74bd" class="u-label">Dropdown</label>
                <div class="u-form-select-wrapper">
                  <a href="{{ url_for('views.download_excel', form_id=form_id) }}" style="color: #ede5e5;" target="_blank">Download Excel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <div class="footer-ba">
    <footer class="u-align-center u-border-2 u-border-custom-color-4 u-clearfix u-custom-color-4 u-footer u-footer"
    id="sec-d10e">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-text u-text-custom-color-2 u-text-default u-text-1"> All copyrights @Smart Developer</p>
    </div>
  </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".animated-progress span").each(function () {
        var progress = $(this).attr("data-progress");
        $(this).animate(
          {
            width: progress + "%",
          },
          1000
        );
        $(this).text(progress + "%");
      });
    });
  </script>

</body>

</html>