<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <title>Sign up</title>

  <!-- icon-->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/Logo.svg') }}">

  <!-- css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/-Login-form-Page-BS4--Login-form-Page-BS4.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer-Dark-icons.css') }}">
  
</head>
<body>
  <div class="container-fluid">
    <div class="row mh-100vh">
      <div
        class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0"
        id="login-block">
        <div class="m-auto w-lg-75 w-xl-50">
          <div class="text-center">
            <img src="static/images/Logo.svg" alt="logo">
          </div>
          <h3 class="text-center fw-light mb-2 xxx">&nbsp;Register new account!</h3>
          <h6 class="text-secondarytext-center fw-light mb-5  d-flex justify-content-center"></i>&nbsp;Join us! Please
            enter your details.</h6>
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          {% if category == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error-alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% else %}
          <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          {% endfor %}
          <script>
            // Close the alert after 5 seconds
            setTimeout(function () {
              $('#error-alert, #success-alert').alert('close');
            }, 5000);
          </script>
          {% endif %}
          {% endwith %}
          <form method="post">
            <div class="form-group mb-3">
              <label class="form-label text-dark">Username</label>
              <input class="form-control rounded-5" type="text" required="" placeholder="Enter your Username"
                id="firstName" name="firstName" value="{{ submitted_data.get('firstName', '') }}">
            </div>
            <div class="form-group mb-3">
              <label class="form-label text-dark">Email</label>
              <input class="form-control rounded-5" type="text" required="" placeholder="Enter your email" id="email"
                name="email" value="{{ submitted_data.get('email', '') }}">
            </div>
            <div class="form-group mb-3">
              <label class="form-label text-dark">Password</label>
              <input class="form-control rounded-5" type="password" placeholder="Password" required="" id="password1"
                name="password1">
            </div>
            <div class="form-group mb-3">
              <label class="form-label text-dark">Confirm Password</label>
              <input class="form-control rounded-5" type="password" placeholder="Password" required="" id="password2"
                name="password2">
            </div>
            <button class=" mt-2 form-control btn-sign-in rounded-5" type="submit"> Sign up</button>
          </form>
          <p class="mt-3 mb-0 text-center">Have an account?<a class="link-url" href="{{ url_for('auth.login') }}">Sign
              in</a>
          </p>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-end bg-img" id="bg-block"
      style="background-image: url(static/images/background.svg);">
    </div>
      <footer class="text-center b-footer d-flex align-items-center  ">
        <div class="container text-white">
          <p class="mb-4 mt-2">All copyrights @Smart Developer</p>
        </div>
      </footer>
    </div>
  </div>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>