<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">

  <title>HASAD</title>
  <link rel="stylesheet" href="static/css/library-css/welcome.css" media="screen">
  <link rel="stylesheet" href="static/css/welcome.css" media="screen">
  <script class="u-script" type="text/javascript" src="static/js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="static/js/page.js" defer=""></script>

  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

</head>

<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode Sarabun-Light" data-lang="en"
  style="overflow: hidden;">
  <div style="background-color:#ffffff ;">

    <header class="u-clearfix u-header u-header" id="sec-ff70">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="SM">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
              href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a
                  class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                  style="padding: 10px 30px; font-size: 21px;top: 9px; position: relative;"
                  href="{{ url_for('views.my_forms') }}">My Forms</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{{ url_for('views.my_forms') }}">My
                      Forms</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        {% if user_email is none %}
        <a href="{{ url_for('auth.login') }}"
          class="u-align-center u-btn u-button-style u-none u-text-active-white u-text-grey-90 u-btn-1">Sign in</a>
        {% else %}
        <a href="{{ url_for('auth.logout') }}"
          class="u-align-center u-btn u-button-style u-none u-text-active-white u-text-grey-90 u-btn-1">Logout</a>
        {% endif %}
        <a href="" class="u-image u-logo u-image-1" data-image-width="86" data-image-height="34">
          <img src="static/images/welcome/Logo1.svg" class="u-logo-image u-logo-image-1 ">
        </a>
      </div>
    </header>
  </div>
  <section
    class="u-clearfix u-grey-5 u-valign-bottom-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-section-1"
    id="sec-5398">
    <img class="custom-expanded u-hidden-xs u-image u-image-default u-image-1" src="static/images/welcome/OBJECTS3.svg"
      alt="" data-image-width="180" data-image-height="900">
    <div class="custom-expanded u-align-center u-container-style u-group u-shape-rectangle u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-2"
          src="static/images/welcome/Logo2.svg" alt="" data-image-width="160" data-image-height="85">
        <p class="u-text u-text-1 Sarabun-Light"> Welcome to our user-friendly form creation platform! Easily design and
          customize
          forms for any purpose. Collect data efficiently, prioritize data​ security, and make informed decisions
          effortlessly. Join us today!</p>
        {% if user_email is none %}
        <a href="{{ url_for('auth.sign_up') }}"
          class="u-border-none u-btn u-btn-round u-button-style u-custom-color-4 u-radius-50 u-btn-1"> Sign up
          for free!</a>
        {% endif %}
        <div class="u-container-style u-custom-color-1 u-group u-radius-26 u-shape-round u-group-2">
          <div class="u-container-layout u-container-layout-2">
            <div class="u-align-center u-clearfix u-group-elements u-group-elements-1">
              <img class="u-image u-image-default u-preserve-proportions u-image-3"
                src="static/images/welcome/Vector3.svg" alt="" data-image-width="114" data-image-height="114">
              <div
                class="custom-expanded u-align-center u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-group-elements u-group-elements-2">
                <p class="u-text u-text-2">Forms Created</p>
                <p class="u-text u-text-custom-color-2 u-text-default u-text-3">{{ forms_created }} </p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-custom-color-3 u-group u-radius-26 u-shape-round u-group-3">
          <div class="u-container-layout u-container-layout-3">
            <div class="u-clearfix u-group-elements u-group-elements-3">
              <p class="u-text u-text-4">Number of users</p>
              <p class="u-text u-text-palette-1-dark-2 u-text-5">{{ total_users }} </p>
            </div>
          </div>
        </div>
        <div class="u-clearfix u-group-elements u-group-elements-4">
          <p class="u-text u-text-6">Top user by engage</p>
          <p class="u-text u-text-center u-text-palette-2-base u-text-7">{{ top_user }}</p>
        </div>
        <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-4"
          src="static/images/welcome/form12.svg" alt="" data-image-width="48" data-image-height="48">
        <span class="u-file-icon u-icon u-icon-rectangle u-palette-1-base u-spacing-5 u-icon-1">
          <img src="static/images/welcome/681443-f411dbba.png" alt=""></span>
        <div class="u-clearfix u-group-elements u-group-elements-5">
          <div
            class="u-bottom-right-radius-50 u-expanded u-palette-2-base u-preserve-proportions u-shape u-shape-round u-top-left-radius-50 u-top-right-radius-50 u-shape-1">
          </div>
          <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-5"
            src="static/images/welcome/avatar.svg" alt="" data-image-width="91" data-image-height="91">
        </div>

      </div>
    </div>
    <img class="custom-expanded u-hidden-xs u-image u-image-default u-image-6" src="static/images/welcome/Frame21.svg"
      alt="" data-image-width="180" data-image-height="900">
    <div style="background-color: rgb(255, 255, 255);">
      <div
        class="u-container-style u-custom-color-3 u-expanded-width u-group u-shape-round u-top-left-radius-50 u-top-right-radius-50 u-group-4">
        <div class="u-container-layout u-container-layout-4">
          <p
            class="u-active-none u-btn u-button-style u-hover-none u-none u-text-hover-custom-color-1 u-text-white u-btn-3">
            <span class="u-file-icon u-icon u-text-white u-icon-2"><img src="static/images/welcome/482138-e985347b.png"
                alt=""></span>info@smart-developer.net
          </p>
          <p
            class="u-active-none u-btn u-button-style u-hover-none u-none u-text-grey-5 u-text-hover-custom-color-1 u-btn-4">
            <span class="u-file-icon u-icon u-text-white u-icon-3"><img src="static/images/welcome/159832-e6b11a25.png"
                alt=""></span>+968-94158959
          </p>
          <p class="u-text u-text-body-alt-color u-text-9"> All copyrights @Smart Developer</p>
        </div>
      </div>
    </div>

  </section>
</body>

</html>